#Starting point

In [50]:
!ping www.delfi.lt

Pinging fl.delfi.lt [91.234.200.112] with 32 bytes of data:
Reply from 91.234.200.112: bytes=32 time=8ms TTL=60
Reply from 91.234.200.112: bytes=32 time=2ms TTL=60
Reply from 91.234.200.112: bytes=32 time=2ms TTL=60
Reply from 91.234.200.112: bytes=32 time=2ms TTL=60

Ping statistics for 91.234.200.112:
    Packets: Sent = 4, Received = 4, Lost = 0 (0% loss),
Approximate round trip times in milli-seconds:
    Minimum = 2ms, Maximum = 8ms, Average = 3ms

In [2]:
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline 
#this line above prepares IPython notebook for working with matplotlib

# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().

import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes
#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns #sets up styles and gives us more plotting options

In [3]:
df=pd.read_csv("training_set.csv")
df.head()

   ROWID                                           FEATURES    ANSWER
0  24609  2,15274 7,25198 2,24498 3,24562 -7,50574 6,540...  -7,64849
1  16974  -8,27432 -9,86361 -2,46347 6,51583 -7,20537 -0...  -7,64849
2  18541  4,24241 2,03342 -7,70655 -0,58326 6,16304 2,15...   8,86771
3  16944  1,61908 -9,82120 2,15274 -6,46795 9,05073 -0,6...  -5,34949
4  15431  2,15274 -3,63392 -0,56882 7,17701 -7,22216 2,3...  -6,33570

In [4]:
df.dtypes

ROWID        int64
FEATURES    object
ANSWER      object
dtype: object

In [5]:
new_df = df

new_df.head()

   ROWID                                           FEATURES    ANSWER
0  24609  2,15274 7,25198 2,24498 3,24562 -7,50574 6,540...  -7,64849
1  16974  -8,27432 -9,86361 -2,46347 6,51583 -7,20537 -0...  -7,64849
2  18541  4,24241 2,03342 -7,70655 -0,58326 6,16304 2,15...   8,86771
3  16944  1,61908 -9,82120 2,15274 -6,46795 9,05073 -0,6...  -5,34949
4  15431  2,15274 -3,63392 -0,56882 7,17701 -7,22216 2,3...  -6,33570

In [27]:
#new_df['FEATURES'] = new_df.FEATURES.replace(',','.')
new_df['ANSWER']   = new_df.ANSWER.str.replace(',','.')
new_df.head()

   ROWID                                           FEATURES    ANSWER
0  24609  2,15274 7,25198 2,24498 3,24562 -7,50574 6,540...  -7.64849
1  16974  -8,27432 -9,86361 -2,46347 6,51583 -7,20537 -0...  -7.64849
2  18541  4,24241 2,03342 -7,70655 -0,58326 6,16304 2,15...   8.86771
3  16944  1,61908 -9,82120 2,15274 -6,46795 9,05073 -0,6...  -5.34949
4  15431  2,15274 -3,63392 -0,56882 7,17701 -7,22216 2,3...  -6.33570

In [30]:
#pd.to_numeric(new_df['ANSWER'])
new_df['ANSWER'] = new_df.ANSWER.astype(float)
new_df.dtypes

ROWID         int64
FEATURES     object
ANSWER      float64
dtype: object

In [38]:
new_df['FEATURES']   = new_df.FEATURES.str.replace(',','.')
new_df.head()

   ROWID                                           FEATURES   ANSWER
0  24609  2.15274 7.25198 2.24498 3.24562 -7.50574 6.540... -7.64849
1  16974  -8.27432 -9.86361 -2.46347 6.51583 -7.20537 -0... -7.64849
2  18541  4.24241 2.03342 -7.70655 -0.58326 6.16304 2.15...  8.86771
3  16944  1.61908 -9.82120 2.15274 -6.46795 9.05073 -0.6... -5.34949
4  15431  2.15274 -3.63392 -0.56882 7.17701 -7.22216 2.3... -6.33570

In [44]:
features = new_df['FEATURES'].apply(lambda x: pd.Series(x.split(' ')))
features.head()
#featuresNotnull = features[299.notnull()]
#featuresNotnull.shape

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,...,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298
0,2.15274,7.25198,2.24498,3.24562,-7.50574,6.54094,2.63731,4.47518,2.46170,9.05073,9.72911,7.87527,-7.05737,-3.62958,-0.80898,-1.09789,3.04711,-2.58222,-4.16207,-8.45120,7.75489,3.04711,2.15274,5.22922,-0.24663,-9.31079,0.70818,9.05073,3.24562,6.41960,9.05073,5.32989,9.72911,-0.58326,2.46170,9.05073,-9.31079,-0.58326,6.07503,-1.09789,5.41415,-2.49974,-1.58428,3.24562,0.77679,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-8.27432,-9.86361,-2.46347,6.51583,-7.20537,-0.39574,-5.11490,9.21911,6.54094,-4.72617,9.05073,-5.75226,-0.71655,4.16403,7.67928,-5.47945,-1.09789,-1.79105,3.59342,-5.11490,-1.20102,-6.21803,5.91712,-0.69995,6.41960,8.85907,-9.22755,-1.99459,2.15274,9.05073,3.59342,2.38564,-0.58326,5.75509,6.83277,3.30221,9.05073,2.38564,-0.58326,-5.42613,-1.09789,-9.05047,6.25941,5.35205,-2.81869,-3.97543,-4.56439,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.24241,2.03342,-7.70655,-0.58326,6.16304,2.15274,-5.80979,7.99898,5.49239,7.87527,9.05073,-5.11490,-1.09789,-7.32385,9.62631,-0.58326,7.93462,2.15274,9.05073,8.39112,-8.02792,6.54094,9.05073,-7.99871,4.16739,2.20031,7.99678,2.54530,2.93213,3.37216,2.38564,-9.22755,-1.09789,3.54622,7.87527,9.05073,-7.99871,3.24602,2.15369,-9.48081,0.72420,6.45319,-8.03297,-0.05250,6.45319,-6.21803,9.05073,7.58234,-8.15241,0.08599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.61908,-9.82120,2.15274,-6.46795,9.05073,-0.65325,3.24562,-7.50574,1.72922,-8.73358,-6.21803,0.20066,6.41960,3.24562,7.51655,6.11218,5.34443,0.67048,-1.09789,9.05073,7.57269,3.24562,-9.22755,-7.50574,6.54094,2.63731,-9.22755,6.11218,5.34443,-9.72100,6.41960,-8.45415,-7.21071,6.41960,9.05073,-2.91139,-0.58326,-5.36737,-0.58326,-7.50574,2.15274,-7.96423,6.54094,9.05073,-6.23199,-6.00910,-1.88981,-8.14781,8.93939,2.15274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.15274,-3.63392,-0.56882,7.17701,-7.22216,2.30074,-4.26948,6.46210,-7.24412,-7.50574,-3.08803,-7.79276,2.15274,6.50795,-3.51933,9.05073,2.89076,-8.54450,-5.92573,9.05073,-2.34810,4.32175,-1.09789,9.92632,-2.62510,2.07409,-1.36363,4.86542,7.77211,0.72420,1.39794,8.78061,-0.99129,-3.58884,5.03566,-3.39883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
features = features.astype(float)
features.dtypes

0      float64
1      float64
2      float64
3      float64
4      float64
5      float64
6      float64
7      float64
8      float64
9      float64
10     float64
11     float64
12     float64
13     float64
14     float64
15     float64
16     float64
17     float64
18     float64
19     float64
20     float64
21     float64
22     float64
23     float64
24     float64
25     float64
26     float64
27     float64
28     float64
29     float64
        ...
269    float64
270    float64
271    float64
272    float64
273    float64
274    float64
275    float64
276    float64
277    float64
278    float64
279    float64
280    float64
281    float64
282    float64
283    float64
284    float64
285    float64
286    float64
287    float64
288    float64
289    float64
290    float64
291    float64
292    float64
293    float64
294    float64
295    float64
296    float64
297    float64
298    float64
dtype: object

In [48]:
from sklearn import linear_model

In [21]:
test = new_df['ANSWER']#.apply(lambda x: pd.Series(x.split(',')))
test.map(lambda x: x.lstrip(',').rstrip('.')) #replace(',','.')
test.head()
#new_df[2:3] = new_df[2].str.split(' ')
#df.columns.str.split().tolist()
#new_df.drop('FEATURES', axis=1)
#             .join
#             (
#             new_df.FEATURES
#             .str
#             .split(expand=True)
#             .stack()
#             .reset_index(drop=True, level=1)
#             .rename('FEATURES')           
#             )

#new_df.head()

0    -7,64849
1    -7,64849
2     8,86771
3    -5,34949
4    -6,33570
Name: ANSWER, dtype: object